body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
button {
    cursor: pointer;
}
main {
    padding: 1rem;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.modal {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal label {
    display: block;
    margin-bottom: 0.5rem;
}

.modal select {
    margin-bottom: 1rem;
}

.modal button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.modal button:hover {
    background-color: #555;
}